test.py
build/lib/beautiful_weaher/__init__.py
build/lib/beautiful_weaher/beautiful_weather.py
unko.egg-info/dependency_links.txt
unko.egg-info/PKG-INFO
unko.egg-info/SOURCES.txt
unko.egg-info/top_level.txt
